.git
.idea

/projects/*/.env.local
/projects/*/.env.local.php
/projects/*/.env.*.local
/projects/*/config/secrets/prod/prod.decrypt.private.php
/projects/*/public/bundles/
/projects/*/var/
/projects/*/vendor/

node_modules/

/answers/12/01/wordpress_blog/
/answers/13/01/symfony_blog/
