{% extends 'base.html.twig' %}

{% block title %}Про нас | {% endblock %}

{% block body %}
    <main class="main-post">
        <article class="post page">
            <div class="post-content">
                <h1>Про нас</h1>

                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
                Приклад тексту Про нас. Приклад тексту Про нас.
            </div>
        </article>
    </main>
{% endblock %}