{% extends 'base.html.twig' %}

{% block title %}Add | API Users | {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{{ path('api_users_list') }}">API Users</a></li>
                        <li class="breadcrumb-item active">Add</li>
                    </ol>
                </div>
                <h4 class="page-title">Add API User</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {{ form(form, { attr : { 'class' : 'needs-validation', 'novalidate' : 'novalidate' } }) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}