<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}" media="all">
    <title>{% block title %}{% endblock %}Gaming News</title>
</head>
<body>

{% block body %}{% endblock %}

</body>
</html>