{% extends 'base.html.twig' %}

{% block title %}Posts Covers | {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active"><a href="{{ path('posts_covers_list') }}">Posts Covers</a></li>
                    </ol>
                </div>
                <h4 class="page-title">Posts Covers</h4>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}
